<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container">
        <a class="navbar-brand fw-bold" href="/">
            🎓 Online Academy
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarMain">
            {{!-- Search Form --}}
            <form class="d-flex mx-auto my-2 my-lg-0" action="/courses/search" method="GET" style="width: 100%; max-width: 500px;">
                <input class="form-control me-2" 
                       type="search" 
                       name="q" 
                       placeholder="Tìm kiếm khóa học..." 
                       aria-label="Search">
                <button class="btn btn-outline-light" type="submit">🔍</button>
            </form>

            {{!-- Right Menu --}}
            <ul class="navbar-nav ms-auto">
                {{!-- Categories Dropdown --}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        Danh mục
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        {{#each global_categories_tree}}
                        <li>
                            <a class="dropdown-item fw-bold" href="/categories/{{id}}">
                                {{name}}
                            </a>
                            {{#if children}}
                            {{#each children}}
                            <a class="dropdown-item ps-4 small" href="/categories/{{id}}">
                                • {{name}}
                            </a>
                            {{/each}}
                            {{/if}}
                        </li>
                        {{#unless @last}}<li><hr class="dropdown-divider"></li>{{/unless}}
                        {{/each}}
                    </ul>
                </li>

                {{!-- User Menu --}}
                {{#if user}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        👤 {{user.full_name}}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="/account/profile">Hồ sơ</a></li>
                        <li><a class="dropdown-item" href="/account/my-courses">Khóa học của tôi</a></li>
                        <li><a class="dropdown-item" href="/account/watchlist">Yêu thích</a></li>
                        {{#if (eq user.role 'admin')}}
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/admin">Quản trị</a></li>
                        {{/if}}
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/account/logout">Đăng xuất</a></li>
                    </ul>
                </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/account/login">Đăng nhập</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-primary text-white ms-2" href="/account/register">
                        Đăng ký
                    </a>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>